{% extends 'AppAdminBundle:Layout:admin_layout.html.twig' %}

{% block body -%}
   
   <section class="panel">
                          <div class="panel-body">
                              <a href="#" class="task-thumb">
                                  <img src="" alt="">
                              </a>
                              <div class="task-thumb-details">
                                  <h1><a href="#">{{ entity.nom }} {{ entity.prenom }}</a></h1>
                                  <p>Ici seront affichés les roles</p>
                              </div>
                              <div class="align-right">
                                 
                                 <div class="btn btn-xs btn-danger margin-top">
                                      <a href="{{ path('users_hermes_list') }}" class="white-color align-btn">
                                          Back to the list
                                      </a>
                                  </div>
                                  <br>
                                  <div class="btn btn-xs btn-danger margin-top">
                                      <a href="{{ path('hermesuser_edit', { 'id': entity.id }) }}" class="white-color align-btn">
                                          Edit
                                      </a>
                                  </div>
                                  <br>

                                 <div class="btn btn-xs btn-danger margin-top">{{ form(delete_form) }}</div>
                              </div>
                          </div>
                          <table class="table table-hover personal-task">
                              <tbody>
                                <tr>
                                    <td>
                                        <i class=" fa fa-tasks"></i>
                                    </td>
                                    <td>Identifiant</td>
                                    <td>{{ entity.id }}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fa fa-exclamation-triangle"></i>
                                    </td>
                                    <td>nom</td>
                                    <td>{{ entity.nom }}</td>
                                </tr>
                                <tr>
                                   <td>
                                        <i class="fa fa-exclamation-triangle"></i>
                                    </td>
                                  <td>Prenom</td>
                                    <td>{{ entity.prenom }}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fa fa-envelope"></i>
                                    </td>
                                    <td>Adresse mail</td>
                                    <td>{{ entity.email }}</td>
                                </tr>
                              </tbody>
                          </table>
                      </section>
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
{% endblock %}
